.error {
    color: tomato;
    font-size: 12px;
}
.ng-container {
    width: 100%;
    display: flex;
}

.ng-container form {
    width: 50%;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;
}

.ng-container tabla{
    width: 50%;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: right;
    text-align: center;
}

/* Toolbar */
.spacer {
    flex: 1 1 auto;
  }