<mat-toolbar color="primary">
    <span>CREACIÓN DE USUARIO</span>
    <span class="spacer"></span>
    Recargar página:
    <button mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>

{{list_user | json}}
---------------------------
{{dataSource}}
##############################
{{dataSource |json}}

<table mat-table [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <ng-container *ngFor="let column of displayedColumns">
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let row">{{row[column]}}</td>
      </ng-container>
    </ng-container>
  </table>

<div class="container mat-elevation-z8">
    
    <!--
        <div class="form">
            <mat-form-field floatPlaceholder="never" color="accent">
                <input matInput #filter placeholder="Filter issues">
            </mat-form-field>
        </div> -->
        
      
      <mat-table [dataSource]="dataSource" matSort class="mat-cell">




        <ng-container matColumnDef="first_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>first_name</mat-header-cell>
          <mat-cell *matCellDef="let element" >{{element.first_name}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="middename">
          <mat-header-cell *matHeaderCellDef mat-sort-header>middename</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.middename}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="last_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>last_name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.last_name}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="seglastname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>seglastname</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.seglastname}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>email</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="country_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>country_id</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.country}}</mat-cell>
        </ng-container>
            
        <ng-container matColumnDef="rol_user">
            <mat-header-cell *matHeaderCellDef mat-sort-header>rol_user</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.rol_user}}</mat-cell>
          </ng-container>
              
        <ng-container matColumnDef="type_user">
            <mat-header-cell *matHeaderCellDef mat-sort-header>type_user</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type_user}}</mat-cell>
          </ng-container>
        
          <!-- <ng-container matColumnDef="account">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Updated at</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.account_id}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="store">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Updated at</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.store_id}}</mat-cell>
          </ng-container> -->
    
        <!-- actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" (click)="addNew()">
              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </mat-header-cell>
    
          <!-- <mat-cell *matCellDef="let row; let i=index;">
            <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
    
            <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-cell>-->
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    
      
      <!--
      <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
        No results
      </div>
      
       <mat-paginator #paginator
                     [length]="dataSource.filteredData.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator> -->

</div>
<!-- 
<form [formGroup]="new_user" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>{{ 'nw_user.first_name' | translate}} 
                <input type="text" class="form-control" formControlName="first_name">
            </label>

            <div class="error" *ngIf="new_user.controls.first_name.errors?.required && new_user.controls.first_name?.touched">
                {{ 'error_form.question_required' | translate}}
            </div>

            <div class="error" *ngIf="new_user.controls.first_name.errors?.minlength && new_user.controls.first_name?.touched">
                {{ 'error_form.min_length' | translate:{min:new_user.controls.first_name.errors.minlength.requiredLength } }}
            </div>

            <div class="error" *ngIf="new_user.controls.first_name.errors?.maxlength && new_user.controls.first_name?.touched">
                {{ 'error_form.max_length' | translate:{max:new_user.controls.first_name.errors.maxlength.requiredLength} }}
            </div>

        </div>

        <div class="form-group">
            <label>{{ 'nw_user.middename' | translate}}
                <input type="text" class="form-control" formControlName="middename">
            </label>
        </div>

        <div class="form-group">
            <label>{{ 'nw_user.last_name' | translate}}
                <input type="text" class="form-control" formControlName="last_name">
            </label>
            <div class="error" *ngIf="new_user.controls.last_name.errors?.required && new_user.controls.last_name.touched">
                {{ 'error_form.question_required' | translate}}
            </div>

            <div class="error" *ngIf="new_user.controls.last_name.errors?.minlength && new_user.controls.last_name.touched">
                {{ 'error_form.min_length' | translate:{min:new_user.controls.last_name.errors.minlength.requiredLength } }}
            </div>

            <div class="error" *ngIf="new_user.controls.last_name.errors?.maxlength && new_user.controls.last_name.touched">
                {{ 'error_form.max_length' | translate:{max:new_user.controls.last_name.errors.maxlength.requiredLength} }}
            </div>  
        </div>

        <div class="form-group">
            <label>{{ 'nw_user.seglastname' | translate}}
                <input type="text" class="form-control" formControlName="seglastname">
            </label>
        </div>

        <div class="form-group">
            <label>{{ 'nw_user.email' | translate}}
                <input type="text" class="form-control" formControlName="email">
            </label>

            <button type="submit" (click)="get_email(new_user.controls.email?.value)" [disabled]="new_user.controls.email?.invalid">{{ 'nw_user.btn_valid_mail' | translate }}</button>
            
            <div class="error" *ngIf="new_user.controls.email.errors?.required && new_user.controls.email.touched">
                {{ 'error_form.question_required' | translate}}
            </div>
            
            <div class="error" *ngIf="new_user.controls.email.errors?.minlength && new_user.controls.email.touched">
                {{ 'error_form.min_length' | translate:{min:new_user.controls.email.errors.minlength.requiredLength } }}
            </div>
            
            <div class="error" *ngIf="new_user.controls.email.errors?.maxlength && new_user.controls.email.touched">
                {{ 'error_form.max_length' | translate:{max:new_user.controls.email.errors.maxlength.requiredLength} }}
            </div>

            <div class="error" *ngIf="vali_correo && (new_user.controls.email.touched || new_user.controls.email.dirty)">
                {{ 'error_form.email_valid' | translate: { email:new_user.controls.email.value } }}
            </div>
        </div>

        <div class="form-group">
            <label>{{ 'nw_user.country_id' | translate}}
                <select class="form-control" formControlName="country_id" (change)="getType_user($event)">
                    <option value="">{{ 'nw_user.select_country' | translate }} </option>
                    <option *ngFor="let countri of countries" value="{{countri.id_country}}"> {{ 'nw_user.paises.' + countri.country | translate }}</option>
                </select>
            </label>
            <div class="error" *ngIf="new_user.controls.country_id.errors?.required && new_user.controls.country_id.touched">
                {{ 'error_form.question_required' | translate}}
            </div>
        </div>

        <div class="form-group">
            <label>{{ 'nw_user.rol_user' | translate}}
                <select class="form-control" formControlName="rol_user">
                    <option value="">{{ 'nw_user.select_role' | translate }} </option>
                    <option *ngFor="let rol of roles" value="{{rol.idalto_rol}}">{{ rol.rol_name }}</option>
                </select>
            </label>untry_id?.val 
            <div class="error" *ngIf="new_user.controls.rol_user.errors?.required && new_user.controls.rol_user.touched">
                {{ 'error_form.question_required' | translate}}
            </div>
    </div>

    <div class="form-group">
        <label>{{ 'nw_user.type_user' | translate}}
            <select class="form-control" formControlName="type_user">
                <option value="">{{ 'nw_user.select_type_user' | translate }} </option>
                <option *ngFor="let type_person of type_persons" value="{{type_person.id_person_type}}">  {{type_person.person_type}} </option>
            </select>
        </label>
        <div class="error" *ngIf="new_user.controls.type_user.errors?.required && new_user.controls.type_user.touched">
            {{ 'error_form.question_required' | translate }}
        </div>
    </div>

    
    <div class="form-group">
        <button (click)="addAccounts()" [disabled]="new_user.get('account_store').invalid"> {{ 'nw_user.btn_new_account' | translate }} </button>
    </div>

    <div formArrayName="account_store" *ngFor="let account of account_id.controls; let i = index">
        <fieldset>
        <div [formGroupName]="i">
            <legend><h4>
             <label [attr.for] = "'account_store' + i"> {{ 'nw_user.account_label' | translate }} {{ i+1}} </label> </h4></legend>
            <div>
                <label> {{ 'nw_user.account_store' |translate }} </label>
                <input type="text" class="form-control" [id] ="'account_store' + i" formControlName="account_id">
                {{ new_user.controls.account_store.controls[i].controls.account_id.value }}
            </div>
            <div>
                <button (click)="get_account(new_user.controls.account_store.controls[i].controls.account_id.value, new_user.controls.country_id?.value)"> {{ 'nw_user.btn_valid_account' |translate }} </button>
            </div>

            <div formArrayName="stores">
                <div *ngFor="let place of account.get('stores').controls; let j=index">
                  <fieldset>
                  <legend><h4> {{ 'nw_user.store_label' | translate }} {{j+1}}</h4></legend>
                  <div [formGroupName]="j">
                    <label [attr.for] = "'stores' + j"> {{ 'nw_user.name_store' |translate }} </label>
                    <input formControlName="store_id" /> {{ account.controls.stores.controls[j].controls.store_id.value}}
                    <span>
                        <button (click)="removePlaceButton(account.controls.stores, j)"> {{ 'nw_user.btn_delete_store' |translate }} </button> 
                    </span>
                    <button (click)="get_place(data_account.id,  account.controls.stores.controls[j].controls.store_id.value)"> {{ 'nw_user.btn_valid_place' |translate }} </button>
                    <button (click)="get_All_Stores(data_account.id)"> {{ 'nw_user.btn_all_store' | translate }} </button>
                  </div>
                  </fieldset>
                </div>
                <button (click)="addNewPlace(account.controls.stores)"> {{ 'nw_user.btn_add_nw_store' | translate }} </button>
            </div>
            <div>
                <button type="button" (click)="removeAccountButton(i)"> {{ 'nw_user.btn_delete_account' | translate }}</button>
            </div>
        </div>
       </fieldset>
    </div>
        <div>
            <button type="submit" [disabled]="new_user.invalid" (click)="list_user_table()"> {{ 'nw_user.btn_add_form_new_user' | translate }} </button>
        </div>
    </form>


    {{ new_user.value |json}}
    -----------------------------------------
    -----------------------------------------
    -----------------------------------------
    -----------------------------------------
    -----------------------------------------

    {{list_user | json}}
    -----------------------------------------
    -----------------------------------------
    -----------------------------------------
    -----------------------------------------
    -----------------------------------------
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>first_name</th>
                    <th>middename</th>
                    <th>last_name</th>
                    <th>seglastname</th>
                    <th>email</th>
                    <th>country_id</th>
                    <th>rol_user</th>
                    <th>type_user</th>
                    <th>account</th>
                    <th>store?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nw_users of list_user; let k = index">

                    <td>{{ nw_users.first_name }}</td>
                    <td>{{ nw_users.middename }}</td>
                    <td>{{ nw_users.last_name }}</td>
                    <td>{{ nw_users.seglastname }}</td>
                    <td>{{ nw_users.email }}</td>
                    <td>{{ nw_users.country_id }}</td>
                    <td>{{ nw_users.rol_user }}</td>
                    <td>{{ nw_users.type_user }}</td>
                </tr>
                <tr *ngFor="let nw_users of list_user.account_store; let a = index">
                    <td>{{ nw_user.account_store.account_id }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {{list_user | json}}
-->