.modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.module {
    width: 300px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    cursor: pointer;
}

.module img {
    width: 100%;
}

.module p {
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}