<div class="modules">
    <div class="module" *ngFor="let modulo of arrModulos" (click)="onClick( modulo.title )">
      <img [src]=" modulo.imagen ">
      <p>{{ ( 'modulos.title.' + modulo.title ) | translate }}</p>
    </div>
</div>