.error {
  color: tomato;
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 850px;
}

.container > * {
  width: 100%;
}

.form-group {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}