<div class="container">
    <h3 mat-dialog-title>Nuevo usuario</h3>
    <mat-dialog-content>
        <form [formGroup]="new_user" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <mat-form-field color="accent">
                    <mat-label> {{ 'nw_user.first_name' | translate }} </mat-label>

                    <input matInput type="text" class="form-control" formControlName="first_name">
                    
                    <div class="error" *ngIf="new_user.controls.first_name.errors?.required && new_user.controls.first_name?.touched">
                        {{ 'error_form.question_required' | translate }}
                    </div>
                    
                    <div class="error" *ngIf="new_user.controls.first_name.errors?.minlength && new_user.controls.first_name?.touched">
                        {{ 'error_form.min_length' | translate : {min:new_user.controls.first_name.errors.minlength.requiredLength } }}
                    </div>
                    
                    <div class="error" *ngIf="new_user.controls.first_name.errors?.maxlength && new_user.controls.first_name?.touched">
                        {{ 'error_form.max_length' | translate : {max:new_user.controls.first_name.errors.maxlength.requiredLength} }}
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field color="accent">
                    <mat-label> {{ 'nw_user.middename' | translate }} </mat-label>
                    <input matInput type="text" class="form-control" formControlName="middename">
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field color="accent">
                    <mat-label> {{ 'nw_user.last_name' | translate }} </mat-label>

                    <input matInput type="text" class="form-control" formControlName="last_name">
                    
                    <div class="error" *ngIf="new_user.controls.last_name.errors?.required && new_user.controls.last_name.touched">
                        {{ 'error_form.question_required' | translate }}
                    </div>
                    
                    <div class="error" *ngIf="new_user.controls.last_name.errors?.minlength && new_user.controls.last_name.touched">
                        {{ 'error_form.min_length' | translate : {min:new_user.controls.last_name.errors.minlength.requiredLength } }}
                    </div>
                    
                    <div class="error" *ngIf="new_user.controls.last_name.errors?.maxlength && new_user.controls.last_name.touched">
                        {{ 'error_form.max_length' | translate : {max:new_user.controls.last_name.errors.maxlength.requiredLength} }}
                    </div>  
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field color="accent">
                    <mat-label> {{ 'nw_user.seglastname' | translate }} </mat-label>
                    <input matInput type="text" class="form-control" formControlName="seglastname">
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field color="accent">
                    <mat-label> {{ 'nw_user.email' | translate }} </mat-label>
                    <input matInput type="text" class="form-control" formControlName="email">
                    
                    <div class="error" *ngIf="new_user.controls.email.errors?.required && new_user.controls.email.touched">
                        {{ 'error_form.question_required' | translate }}
                    </div>
                    
                    <div class="error" *ngIf="new_user.controls.email.errors?.minlength && new_user.controls.email.touched">
                        {{ 'error_form.min_length' | translate : {min:new_user.controls.email.errors.minlength.requiredLength } }}
                    </div>
                    
                    <div class="error" *ngIf="new_user.controls.email.errors?.maxlength && new_user.controls.email.touched">
                        {{ 'error_form.max_length' | translate : {max:new_user.controls.email.errors.maxlength.requiredLength } }}
                    </div>
                    
                    <div class="error" *ngIf="vali_correo && (new_user.controls.email.touched || new_user.controls.email.dirty)">
                        {{ 'error_form.email_valid' | translate : { email:new_user.controls.email.value } }}
                    </div>
                </mat-form-field>
                <div class="example-button-row">
                    <button mat-stroked-button color="warn" type="submit" (click)="get_email(new_user.controls.email?.value)" [disabled]="new_user.controls.email?.invalid">{{ 'nw_user.btn_valid_mail' | translate }}</button>
                </div>
            </div>

            <div class="form-group">
                <mat-form-field color="accent">
                    <mat-label> {{ 'nw_user.country_id' | translate }} </mat-label>
                    <mat-select class="form-control" formControlName="country_id" (valueChange)="getType_user($event)">
                        <mat-option *ngFor="let countri of countries" value="{{countri.id_country}}"> {{ 'nw_user.paises.' + countri.country | translate }}</mat-option>
                    </mat-select>
                    <div class="error" *ngIf="new_user.controls.country_id.errors?.required && new_user.controls.country_id.touched">
                        {{ 'error_form.question_required' | translate }}
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field color="accent">
                    <mat-label> {{ 'nw_user.rol_user' | translate }} </mat-label>
                    <mat-select class="form-control" formControlName="rol_user">
                        <mat-option *ngFor="let rol of roles" value="{{rol.idalto_rol}}">{{ rol.rol_name }}</mat-option>
                    </mat-select>
                    <div class="error" *ngIf="new_user.controls.rol_user.errors?.required && new_user.controls.rol_user.touched">
                        {{ 'error_form.question_required' | translate }}
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field color="accent">
                    <mat-label> {{ 'nw_user.type_user' | translate }} </mat-label>
                    <mat-select class="form-control" formControlName="type_user">
                        <mat-option *ngFor="let type_person of type_persons" value = "{{type_person.id_person_type}}" >  {{type_person.person_type}} </mat-option>
                    </mat-select>
                    <div class="error" *ngIf="new_user.controls.type_user.errors?.required && new_user.controls.type_user.touched">
                        {{ 'error_form.question_required' | translate }}
                    </div>
                </mat-form-field>
            </div>








  <!-- 
            <div formArrayName="account_store" *ngFor="let account of account_id.controls; let i = index">
                <div class="form-group" [formGroupName]="i">
                    <mat-form-field color="accent">
                        <mat-label [attr.for] = "'account_store' + i"> {{ 'nw_user.account_label' | translate }} {{ i+1}} </mat-label>
                            <mat-label> {{ 'nw_user.account_store' |translate }} </mat-label>
                            <input matInput type="text" class="form-control" [id] ="'account_store' + i" formControlName="account_id">
                    </mat-form-field>


                    <div class="example-button-row">
                        <button mat-stroked-button (click)="get_account(new_user.controls.account_store.controls[i].controls.account_id.value, new_user.controls.country_id?.value)"> {{ 'nw_user.btn_valid_account' |translate }} </button>
                    </div>
                    <div class="example-button-row">
                        <button mat-stroked-button type="button" (click)="removeAccountButton(i)"> {{ 'nw_user.btn_delete_account' | translate }}</button>
                    </div>

                    <div class="form-group" formArrayName="stores">
                        <div *ngFor="let place of account.get('stores').controls; let j=index">
                            <div [formGroupName]="j">
                                <mat-form-field color="accent">
                                    <mat-label> {{ 'nw_user.store_label' | translate }} {{j+1}} </mat-label>
                                    <mat-label [attr.for] = "'stores' + j"> {{ 'nw_user.name_store' |translate }} </mat-label>
                                    <input matInput formControlName="store_id" /> {{ account.controls.stores.controls[j].controls.store_id.value}}
                                </mat-form-field>
                            </div>
                        </div>
                            <div class="example-button-row">
                                <button mat-stroked-button (click)="get_place(data_account.id,  account.controls.stores.controls[j].controls.store_id.value)"> {{ 'nw_user.btn_valid_place' |translate }} </button>
                                <button mat-stroked-button (click)="get_All_Stores(data_account.id)"> {{ 'nw_user.btn_all_store' | translate }} </button>
                                <button mat-stroked-button (click)="removePlaceButton(account.controls.stores, j)"> {{ 'nw_user.btn_delete_store' |translate }} </button> 
                            </div>
                    </div>
                </div>
                <div class="example-button-row">
                    <button mat-stroked-button (click)="addAccounts()" [disabled]="new_user.get('account_store').invalid"> {{ 'nw_user.btn_new_account' | translate }} </button>
                    <button mat-stroked-button (click)="addNewPlace(account.controls.stores)"> {{ 'nw_user.btn_add_nw_store' | translate }} </button>
                </div>
            </div>
-->
            <!-- <div class="example-button-row">
                <button mat-stroked-button type="submit" [disabled]="new_user.invalid" (click)="confirm_new_user()"> {{ 'nw_user.btn_add_form_new_user' | translate }} </button>
            </div> -->

            <div mat-dialog-actions>
                <!-- <button mat-button [type]="submit" [disabled]="!new_user.valid" [mat-dialog-close]="1" (click)="confirm_new_user()">Save</button> -->
                <button mat-button [mat-dialog-close]="1" (click)="confirm_new_user()">Save</button>
                <button mat-button (click)="cancel_new_user()" tabindex="-1">Cancel</button>
            </div>
        </form>
    </mat-dialog-content>
</div>