<div class="cabecera">
  <h2 (click)="onClick()">{{ 'home.ini' | translate }}</h2>
  <h1>
    {{ 'home.implemen' | translate }}
  </h1>
  <select #lengselect (change)="translate.use(lengselect.value)">
    <option *ngFor="let leng of translate.getLangs()" [value]="leng">{{leng}}</option>
  </select>
</div>

<router-outlet></router-outlet>