.cabecera {
    width: 100%;
    display: flex;
    justify-items: auto;
    justify-content: center ;
}

.cabecera h2 {
    justify-content: start;
    margin: 2px;
    cursor: pointer;
}

.cabecera h1 {
    justify-content: center ;
}

.cabecera select {
    justify-content: end;
    
}
// TODO: PENDIENTE DE AJUSTAR LA CABECERA